@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Material Symbols Sharp';
    font-style: normal;
    
    src: url('./material_icons/MaterialSymbolsSharp.woff2') format('woff');
    }
.material-sym {
    font-family: 'Material Symbols Sharp';
    font-variation-settings: 'FILL' 01;
    display: inline;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    vertical-align: bottom;

    @apply inline-block
}