@tailwind base;
@tailwind components;
@tailwind utilities;
html {
    font-family: 'Iosevka SS14 Web', monospace;
    height: 100%;
    display: block;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%23adc5e9' fill-opacity='0.2' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    @apply min-h-full min-w-full bg-jx-50 dark:bg-jx-900 text-base;
}
html.dark {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%230d081c' fill-opacity='0.2' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
h1 {
    @apply dark:text-jx-900 text-jx-50 text-3xl font-black text-center shadow-md shadow-jx-300 dark:shadow-jx-900 dark:bg-jx-100 bg-jx-900 px-4 rounded-lg w-full;
}
h2 {
    @apply dark:text-jx-50 text-jx-900 text-xl font-black;
}
p {
    @apply text-justify;
}
body {
    @apply m-0 text-jx-900 dark:text-jx-50 w-full flex justify-center;
}
/* PINGAS */
.pagecont {
    @apply flex gap-6 md:gap-12 h-screen flex-col lg:flex-row justify-center items-center mx-16;
}
ul {
    @apply m-4 self-start md:self-center;
}
ul li {
    @apply list-disc my-2 self-start md:self-center;
}
p.itemdesc {
    @apply dark:text-jx-200 text-jx-700 text-sm;
}
.colpagecont {
    @apply flex gap-6 md:gap-12 h-screen flex-col justify-start mt-20 items-center self-center w-11/12 sm:w-2/3 mb-4;
}
.parcont {
    @apply flex flex-col gap-4 justify-center items-center;
}
#profpic, #profpic-red {
    transition: transform 1s;
    @apply rounded-full h-48 w-48 md:h-64 md:w-64 dark:border-jx-50 border-jx-700 border-4;
}
#profpic-red {
    @apply h-32 w-32 md:h-48 md:w-48;
}
#profpic:hover, #profpic-red:hover {
    transform: rotate(360deg);
    transition: transform 1s;
}
.galthumb {
    @apply max-w-48 max-h-48 self-center md:self-start dark:border-jx-50 border-jx-700 border-4 rounded-lg;
}
.smcp {
    font-variant: small-caps;
}
.title {
    @apply text-base md:text-lg w-auto text-center md:text-left flex flex-col gap-4 leading-none text-jx-700 dark:text-jx-200;
}
.firstname {
    font-variant: small-caps;
    @apply text-2xl md:text-4xl lg:text-5xl font-black text-jx-900 dark:text-jx-50;
}
b {
    @apply font-black;
}
.lastname {
    @apply text-xl font-black;
}
.vsep {
    @apply border-2 border-jx-800 dark:border-jx-50 w-full h-0 lg:h-64 lg:block lg:w-0;
}
.sep {
    @apply border-2 border-jx-800 dark:border-jx-50 w-full h-0;
}
.namecont {
    @apply flex flex-col md:flex-row gap-8 justify-center items-center;
}
.iconcont {
    @apply flex flex-col md:flex-wrap md:flex-row justify-center lg:justify-start lg:flex-col gap-2 text-center md:text-left md:gap-16 lg:gap-4 text-base md:text-lg leading-normal md:leading-none lg:leading-normal;
}
.staycols {
    @apply flex-col gap-4 md:gap-8 text-base;
}
.iconrow a {
    @apply flex flex-row gap-4 hover:font-extrabold hover:text-glow-sm transition-all dark:shadow-jx-300 shadow-jx-400;
}
nav {
    @apply top-0 fixed sm:w-full text-base flex flex-row sm:justify-center sm:items-center gap-4 right-0 mx-4 sm:mx-0;
}
.navcont {
    @apply flex flex-row justify-center items-center gap-4 md:gap-8 text-lg;
}
nav a, p a, li a {
    @apply hover:font-extrabold hover:text-glow-sm transition-all dark:shadow-jx-300 shadow-jx-400;
}
li a {
    @apply font-bold;
}
.galpara li a:before {
    content: '[';
}
.galpara li a:after {
    content: ']';
}
p a {
    @apply dark:text-jx-300 text-jx-600 underline;
}
#fish:hover:after {
    content: ' 🐟';
    @apply transition-opacity;
}
iframe {
    width: 420px;
    height: 420px;
    @apply dark:border-jx-100 border-jx-700 border-4 rounded-lg;
}
iframe.blog {
    @apply w-2/3 min-w-64;
}
slash {
    content: '/';
    @apply text-jx-400;
}
footer {
    @apply hidden xs:flex items-center w-full fixed bottom-0 text-center m-2 left-0 dark:text-jx-100/50 text-jx-900/50;
}
.switch {
    @apply fixed mx-4 text-lg hover:cursor-pointer top-0 left-0;
}
.indicator {
    @apply fixed mx-4 sm:top-0 bottom-0 right-0 text-jx-700 dark:text-jx-300 h-6;
}
.switch, .navcont, .indicator {
    @apply bg-jx-200 dark:bg-jx-700 px-2 rounded-lg rounded-t-none shadow-lg shadow-jx-600/70 dark:shadow-jx-950/70;
}
.galitem {
    @apply flex md:flex-row flex-col gap-4 justify-center bg-jx-400 dark:bg-jx-400 bg-opacity-20 dark:bg-opacity-20 rounded-lg p-4;
}
.gencont {
    @apply bg-jx-400/20 dark:bg-jx-400/20 rounded-lg p-4 flex flex-col gap-2;
}
.hl {
    @apply text-sm px-2 dark:bg-jx-50/10 bg-jx-900/10 rounded-full;
}